/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/*-------------banner-slider------------------*/

.banner-slider .slick-prev:before {
    content: "\f053" !important;
    font-family: "FontAwesome";
    opacity: 1 !important;
    font-size: 14px;
}

.banner-slider .slick-next,
.banner-slider .slick-prev {
    height: 45px !important;
    border-radius: 75% !important;
    background-color: #00000042 !important;
    width: 45px !important;
    z-index: 1 !important;
}

.banner-slider .slick-next {
    right: 100px !important;
}

.banner-slider .slick-prev {
    left: 100px !important;
}

.banner-slider .slick-prev:before,
.banner-slider .slick-next:before {
    color: #ffffff !important;
}

.slick-prev:before,
.slick-next:before {
    content: "\f053" !important;
    font-family: "FontAwesome" !important;
    opacity: 1 !important;
    color: #fff !important;
    font-size: 14px;
}

.categories-main  .slick-next, 
.categories-main .slick-prev {
    height: 50px !important;
    border-radius: 75% !important;
    background-color: #8ea8cc !important;
    width: 50px !important;
    z-index: 1 !important;
}

.slick-next:before {
    content: "\f054" !important;
}

.slick-next,
.slick-prev {
    height: 50px !important;
    border-radius: 75% !important;
    background-color: #26a2e5 !important;
    width: 50px !important;
    z-index: 1 !important;
}

.slick-next:hover,
.slick-prev:hover {
    background-color: #00000029 !important;
    transition: 0.9s;
}


/*--------our-team---slider-----*/

.our-team .slick-list {
    margin: 60px 95px 40px 80px;
    padding: 0px 0px 0px 9px;
}

.our-team .slick-prev,
.our-team .slick-next {
    top: 37% !important;
}

.client-testimonials .slick-prev,
.client-testimonials .slick-next {
    background-color: #4e4e4e !important;
}